.footer {
  background-color: $secondary-darker-blue;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
  }

  &__list {
    display: inline-block;
    padding: 0;
    column-count: 4;

    list-style: none;

    &--item {
      line-height: 36px;
    }

    &--link {
      color: $white;
    }
  }

  &__social {
    p {
      color: $white;
    }
  }

  &__social-list {
    display: flex;
    padding: 0;
    margin-top: 10px;

    list-style: none;

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
      height: 35px;
      margin-right: 20px;

      background-color: $white;
      border-radius: 100%;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &--link {
      svg {
        font-size: 22px;

        color: $secondary-lighter-blue;
      }
    }
  }
}