.header {
  display: flex;
  align-items: center;
  height: 54px;

  background-color: $secondary-darker-blue;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: 100%;
    height: auto;
  }

  &__list {
    display: flex;
    width: 55%;
    justify-content: space-between;
    padding: 0;

    list-style: none;

    &--link {
      color: $white;
    }
  }
}