.section-plans {
  padding-bottom: 100px;

  .plan {
    &__wrapper {
      display: flex;
      flex-direction: column;

      h1 {
        text-align: center;
      }
    }

    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 50px;
    }

    &__holder {
      width: 345px;

      text-align: center;

      background-color: $white;
      border-radius: 21px;

      ul {
        padding: 0;
        margin: 30px auto 0;

        list-style: none;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 5px;

          font-size: 16px;

          &.not-included {
            opacity: 0.6;
          }

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
          }
        }
      }

      .btn {
        height: 44px;
      }

      &.free {
        .plan__title-holder {
          background-color: $primary-yellow;
        }
      }

      &.individuals {
        .plan__title-holder {
          background-color: $primary-pink;
        }
      }

      &.providers {
        .plan__title-holder {
          background-color: $primary-blue;
        }
      }
    }

    &__content-holder {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 30px;
      min-height: 472px;

      a {
        display: block;
        width: 100%;
      }
    }

    &__title-holder {
      padding: 24px;

      border-top-left-radius: 21px;
      border-top-right-radius: 21px;

      h2 {
        color: $secondary-darker-blue;
      }
    }

    &__price {
      font-weight: 500;
      text-align: center;

      span {
        font-family: $font-roboto;
        font-size: 64px;
        font-weight: 700;
      }
    }
  }
}

@include respond-to(lg) {
  .section-plans {
    .plan {
      &__holder {
        width: 290px;
      }
    }
  }
}

@include respond-to(md-down) {
  .section-plans {
    .plan {
      &__wrapper {
        padding-top: 30px;

        h1 {
          font-size: 32px;
        }
      }

      &__content {
        flex-direction: column;
        margin-top: 30px;
      }

      &__holder {
        margin: 0 auto 20px;
        width: 80%;

        ul {
          margin-top: 0;
        }
      }

      &__title-holder {
        padding: 15px;

        h2 {
          font-size: 25px;
        }
      }

      &__price {
        span {
          font-size: 54px;
        }
      }
    }
  }
}

@include respond-to(xs) {
  .section-plans {
    .plan {
      &__holder {
        width: 100%;
      }
    }
  }
}
