.section-our-team {
  padding: 80px 0;
  margin: 0 10px;

  background-color: $primary-yellow;
  box-shadow: 0px 20px 0px #B28B09;
  border-radius: 21px;

  h3 {
    font-size: 36px;
    color: $secondary-darker-blue;
    text-align: center;
  }

  .team__wrapper {
      display: flex;
      justify-content: space-between;
      margin-top: 40px;

      &--member {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 19%;
        text-align: center;
        .photo {
          overflow: hidden;
          border-radius: 50%;
        }
        p {
          &:first-of-type {
            margin: 15px 0;
          }

          &:nth-of-type(2) {
            margin-bottom: 40px;

            font-size: 16px;
          }
        }

        svg {
          font-size: 40px;
          color: #6EC9E4;
        }
      }
      &--link {
        &:hover { transform: scale(1.1) }
        &:active { transform: scale(0.9) }
      }
    }
  }

  @include respond-to(md-down) {
    .section-our-team {
      margin: 0;

      .team__wrapper {
        flex-wrap: wrap;

        &--member {
          margin-bottom: 30px;
          width: 48%;

          p {
            &:first-of-type {
              margin: 5px 0;

              font-size: 16px;
            }
  
            &:nth-of-type(2) {
              margin-bottom: 20px;
              
              font-size: 12px;
            }
          }

          svg {
            font-size: 30px;
          }
        }
      }
    }
  }
