.page-about-us {
  background-color: $secondary-brown;
  .signage {
    position: relative;
    max-height: 280px;
    display: flex;
    justify-content: center;
    .wave {
      z-index: 2;
      width: 100%;
    }
  }
  .wheel {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }
  .sign-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../../assets/images/hanging-sign-small.svg');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: contain;
    min-width: 233px;
    max-width: 600px;
    height: 233px;
    z-index: 0;
    top: 0;
    .body {
      display: flex;
      align-items: center;
      justify-content: center;
     background-color: $secondary-darker-blue;
     border-radius: 17px;
     height: 111px;
     min-width: 233px;
     padding: 8px 16px;
     transition-duration: 0.5s;
    }
    h1 { color: white !important; }
  }

  @include respond-to(sm-down) {
    .sign-header {
      height: 140px;
      .body { height: 70px; }
    }
    .wheel {
      margin-top: 120px;
      padding: 12px;
    }
  }
}