
.page-account {
    margin: 71px;
    .container {
        padding: 0 70px;
        h1 { margin-bottom: 80px; color: $secondary-darker-blue; }
        .watch-history-section {
            padding: 10px 0;
            &__wrapper {
                flex-direction: column;
                &__left { width: 50%; }
            }
            // .swiper-container { display: flex; flex-wrap: wrap; flex-direction: row; }
            h3 { margin-left: 2px; margin-bottom: 6px; }
        }
    }
}