.page-checkout {
  padding-top: 45px;
  display: flex;

  > div {
  }
  .wrapper {
  }
  .steps {
    position: relative;
    flex-basis: 60%;

    &__form-wrapper {
    }

    &__info {
      .edit {
        position: absolute;
        top: 26px;
        right: 32px;
      }

      .row-first {
        width: 100%;
        max-width: 250px;
      }
    }
    &--inactive {
      margin-bottom: 0 !important;
      color: #676161;
    }

    &--done {
      margin-bottom: 30px !important;
      color: black;
    }
  }

  .side-bar {
    flex-grow: 1;
    table { width: 100%; }
    .remove-btn { color: red; font-size: 14px; }
    .right { text-align: center; }
    .input-inline-button { padding: 0 24px; max-height: 38px; }
  }
  .summary {
    flex-grow: 1;

    .row-first {
      width: 100%;
      max-width: 250px;
    }

    .form {
      input { padding: 9px 24px; }
      .input-inline-button { height: 38px; padding: 0 42px; }
    }
    &__details { padding-left: 20px; }
  }
  .checkout-wrapper {
    position: relative;
    background-color: white;
    padding: 35px 81px;
    margin: 15px;
    border-radius: 8px;
    .input-inline-button {
      margin: 0;
      padding: 0 20px;
      font-size: 18px;
      font-weight: 500;
      color: white;
      max-height: 43px;
      width: 130px;
      letter-spacing: 0;
      font-size: 18px;
      text-transform: capitalize;
    }
    .discount-valid { background-color: green; }
    .discount-field { max-height: 43px; }
    .step-title {
      text-transform: uppercase;
      font-weight: 800;
      margin-bottom: 30px;
      span { margin-right: 20px; }
    }
  }

  .form {
    input,
    select {
      border: 1px solid #d8d8d8;
      font-size: 16px;
      padding: 15px 24px;
      margin-bottom: 12px;
    }
    .asterisk { top: 12px; }
    .card-input {
      overflow: unset;
      padding: 0 0 0 20px;
      border: 1px solid #d8d8d8;
      border-radius: 50px;

      label {
        &:first-of-type {
          flex: 1 0 0;
          width: 100%;
        }
        flex-basis: 20%;
      }
      label:after {
        display: none;
      }
      input {
        border: none;
        position: static;
        margin-bottom: 0;
        padding-right: 0;
      }
    }

    &--error {
      margin-top: -10px;
      margin-bottom: 12px;
    }
  }

  .btn {
    font-size: 16px;
    height: 51px;
    margin: 20px 0;
  }
}

@include respond-to('md-down') {
  .page-checkout {
    flex-direction: column-reverse;
    .steps { flex-basis: 100%; }
    // Sidebar hidden temporarily for debugging purposes.
    // .side-bar { display: none; }
    .checkout-wrapper { padding: 60px 30px; }
    .name-group, .address-group {
      flex-direction: column;
      .input-wrapper { margin-right: 0; }
    }
    .steps__info {
      .flex { flex-direction: column-reverse; }
      .row-first { font-size: 14px; color: $disabled }
    }
      .summary {
        .form {
          input { height: 38px; }
          .input-inline-button { height: 38px; padding: 0 28px; }
        }
      }
    
    .input-inline-button {
      max-width: 64px;
      font-size: 12px;
      height: 43px;
      padding: 0 28px;
    }
    .card-input {
      height: 48px;
      .credit-card-input { padding: 0; }
    }
  }
}
