.page-login,
.page-register {
  display: flex;
  align-items: stretch;
  height: 100vh;
  > div {
    flex: 1 0 0;
  }
  .first-wrapper {
    background-color: $secondary-brown;

    .title {
      margin-bottom: 50px;
    }

    .content-holder {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      max-width: 470px;
      margin: 0 auto;
    }
    .form {
      width: 100%;
    }
    .btn {
      margin-bottom: 20px;
    }
    .forgot {
      margin-top: -20px;
      margin-bottom: 50px;
      margin-left: 20px;
      display: block;

      font-size: 16px;
    }
    .member {
      font-size: 16px;
    }
    .external-login-wrapper {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 30px;

      display: flex;
      .social-btn {
        width: 100%;
        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
  .second-wrapper {
    background-size: 61%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.page-forgot,
.page-reset-confirmation {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;

  height: 100vh;
  background-color: $secondary-brown;

  .link {
    text-align: center;
    margin-top: 30px;
  }

  // .form {
  //   input {
  //     margin-bottom: 70px;
  //   }
  // }

  .form-title{
    margin-bottom: 60px;
  }

  .btn{
    margin-top: 70px;
    margin-bottom: 50px;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    max-width: 490px;
    padding: 0 15px;
    margin: 0 auto;
  }

  p{
    margin-bottom: 70px;
    text-align: center;
  }
  .check{
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 0 auto 100px;
    
    background-color: white;
    border-radius: 50%;
  }
}

// Responsive View
@include respond-to('sm-down') {
  .page-login {
    .second-wrapper { display: none; }
  }
  .title, .form-title { font-size: 30px; }
  .content-holder { padding: 24px 16px; }
  input { height: 48px; font-size: 88%; margin-bottom: 15px; }
  .form { 
    .forgot { margin-top: 10px !important; margin-bottom: 0; font-size: 13px; }
    input { height: 48px; font-size: 88%; margin-bottom: 15px; }
    .btn { height: 48px; font-size: 18px; }
}
  .btn {
    height: 48px; font-size: 18px;
    &__login { margin-top: 39px; margin-bottom: 37px; }
    .icon {
      &__google { width: 36px; }
      &__facebook { width: 18px; }
    }
  }
  
}
@include respond-to('md-down') { .second-wrapper { display: none; } }