.page-pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: $secondary-brown;

  .image__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

    & > div {
      width: auto;
    }
  }
}

@include respond-to(md-down) {
  .page-pricing {
    height: auto;
  }
}