
.section-info {
    min-height: 600px; padding: 8em 0; background-color: white;
    // background-image: url('../../assets/images/white-wave.webp');;
    .container { padding: 0 4em; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-evenly; }
    .sub-section {
        width: 50%; max-height: 334px; text-align: center; padding: 30px 60px; display: flex; align-items: center; flex-direction: column;
        h2 { max-width: 68%; margin-top: 24px; }
    }
}
.section-testimonials {
    h1 { text-align: center; color: $secondary-darker-blue }
    .t-container { display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; }
    .swiper-slide { width: 390px; max-height: 415px; margin: 23px 11px; }
    .testimony {
        &__name { color: white }
        &__description { color: white }
    }
}
.section-white_paper {
    .container { display: flex; justify-content: center; }
}