
.wave { max-height: 240px; }
.section-info {
    min-height: 600px; background-color: white;
    // background-image: url('../../assets/images/white-wave.webp');;
    .container { padding: 0 4em; display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-evenly; }
    .sub-section {
        width: 50%; max-height: 334px; text-align: center; padding: 30px 60px; display: flex; align-items: center; flex-direction: column;
        h2 { max-width: 68%; margin-top: 24px; }
    }
}
.section-testimonials {
    h1 { text-align: center; color: $secondary-darker-blue }
    .t-container { display: flex; flex-wrap: wrap; flex-direction: row; justify-content: center; }
    .swiper-slide { width: 390px; max-height: 415px; margin: 23px 11px; }

    .testimony {
        &__wrapper {
          h1 {
            margin-bottom: 60px;
            color: $secondary-darker-blue;
            text-align: center;
          }
        }
    
        &__holder {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          height: 100%;
        }
    
        &__statement {
          margin-bottom: 40px;
        }
    
        &__name {
          font-size: 24px;
          font-weight: 700;
          &--light { color: $secondary-darker-blue }
          &--dark { color: white }
        }
        &__description {
            font-size: 18px;
          &--light { color: $secondary-darker-blue }
          &--dark { color: white }
        }
      }
}
.section-white_paper {
    .container { display: flex; justify-content: center; }
}

@include respond-to('md-down') {
  .wave { height: 40px; }
    .section-info {
        .container { padding: 0 18px; }
        .sub-section {
            padding: 18px;
            h2 { font-size: 18px; max-width: 100%; }
        }
    }
    .section-testimonials {
        .swiper-slide { width: 100%; }
        .testimony__wrapper {
          h1 { margin-bottom: 18px; }
        }
    }
}