.page-video_player {
    .top-section {
        position: relative;
        z-index: 1;
        padding: 18px 48px;
        height: 188px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        .form {
            //display: none;
            width: 100%;
            .input-wrapper {
                max-width: 1042px;
                height: 92px;
            }
        }
        .back {
            img { transform: rotate(-180deg); }
        }
        .search {
            padding: 8px;
            img { width: 48px; }
        }
        .category-tabs {
            margin: 0;
            display: none;
        }
    }
    .main {
        display: flex;
        .video-player {
            width: 100%;
            text-align: center;
            background-color: $primary-yellow;
            border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            &__wrapper {
                display: flex;
                flex-direction: column;
            }
            .player {
                width: 100%;
                padding: 30px;
            }
        }
        .info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            background-color: $secondary-darker-blue;
            min-height: 180px;
            padding: 20px;
            .left {
                display: flex;
                flex-direction: column;
                .chips {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                }
                .wrapper {
                    max-width: 55%;
                    margin-left: 15px;
                    h2 {
                        margin-bottom: 5px;
                        color: white;
                    }
                    p { color: white; }
                }
            }
            .right {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                .smile-btn { margin-left: 24px; }
            }
        }
        .playlist {
            width: 100%;
            max-width: 30%;
            background-color: $primary-pink;
            max-height: 100%;
            overflow-y: auto;
            .header {
                margin: 20px;
                padding: 8px;
                height: auto;
                display: flex;
                flex-direction: column;
                color: white;
                text-align: center;
                border-radius: 10px;
            }
            .list {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    @include respond-to(md-down) {
        .top-section {
            height: 80px;
            padding: 10px 8px;
            .search, .back {
                width: 36px;
                height: 36px;
                padding: 8px;
            }
            .form {
                padding: 0 12px;
                display: flex;
                justify-content: center;
                .input-wrapper {
                    height: 100%;
                    max-width: 360px;
                    .search-field {
                        padding: 0 12px;
                        height: 36px;
                    }
                }
            }
        }
        .main {
            flex-direction: column;
            .video-player {
                .player { padding: 0; }
            }
            .playlist {
                max-width: 100%;
            }
            .info {
                justify-content: space-evenly;
                .left {
                    .chips { margin: 12px 0; }
                    .wrapper {
                        margin-left: 0;
                        margin-bottom: 24px;
                        width: 100%;
                        max-width: 100%;
                    }
                }
                .right { justify-content: flex-end; }
            }
        }
    }
}