.page-videos {
    position: relative;
    .tam {
        z-index: -5;
        width: 429px;
        height: 404px;
        position: absolute;
        left: 106px;
        bottom: 333px;
        transform: scaleX(-1);
    }
    .tim {
        z-index: -5;
        width: 449px;
        height: 447px;
        position: absolute;
        right: 45px;
        bottom: 600px;
    }
    @include respond-to(md-down) {
        .tam { display: none; }
        .tim { display: none; }
        .tom { display: none; }
    }
    .banner {
        min-height: 404px;
        padding-top: 42px;
        background-color: $secondary-brown;
        padding-bottom: 0;
        .container {
            .top-section {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                // Profile Icon
                .profile-icon {
                    position: relative;
                    z-index: 5;
                    margin-right: 52px;
                    min-width: 93px;
                    min-height: 93px;
                }
                .form {
                    width: 100%;
                    .search-field {
                    height: 92px;
                    margin-right: 60px;
                    font-size: 30px;
                    font-weight: 700;
                }
                .input-inline-button {
                    background-color: $secondary-darker-blue;
                    height: 100%;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    padding: 0 12px;
                    width: 110px;
                    img { width: 48px; }
                }
                }
                @include respond-to(lg) {
                    .search-field { margin-left: 0; width: 100%; }
                }
            }
            .page-buttons {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 15px;
                margin-right: 3px;
                button {
                    margin: 0 10px;
                    width: 224px;
                    height: 83px;
                    font-size: 30px;
                    font-weight: 700;
                }
            }
            @include respond-to(md-down) {
                .top-section {
                    flex-direction: column;
                    align-items: center;
                    img {
                        width: 85px;
                        max-width: 120px;
                    }
                    .form {
                        width: 100%;
                        .search-field {
                            width: 100%;
                            height: 42px;
                            font-size: 16px;
                            margin: 0;
                            margin-top: 15px;
                        }
                        .input-inline-button {
                            width: 60px;
                            img { width: 75%; }
                        }
                    }
                }
                .page-buttons {
                    position: relative;
                    flex-wrap: wrap;
                    button {
                        margin: 11px 10px;
                        flex-direction: column;
                        width: 98px;
                        height: 98px;
                        max-width: 128px;
                        max-height: 128px;
                        font-size: 16px;
                        font-weight: 600;
                        box-shadow: 0 3px;
                        img {
                            margin-right: 0;
                            margin-bottom: 3px;
                            width: 42px;
                            height: 42px;
                            justify-self: center;
                        }
                    }
                }
            }
        }
        // @include respond-to(md-down) { z-index: -10; }
    }
    .category-buttons {
        position: relative;
        align-items: center;
        margin-bottom: 68px;
        .tom {
            z-index: 0;
            position: absolute;
            right: 215px;
            top: -142px;
        }
        .container {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding-right: 20px;
            button {
                margin: 0 13px;
                max-height: 63px;
                max-width: 267px;
                box-shadow: 0 4px #c4c4c4;
            }
        }
        @include respond-to(md-down) {
            .container {
                flex-wrap: wrap;
                button {
                    flex-direction: column;
                    width: 120px;
                    height: 92px;
                    max-height: 120px;
                    margin: 12px 8px;
                    font-size: 14px;
                    img {
                        width: 40%;
                        margin-bottom: 5px;
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .videos {
        .container {
            h1 {
                color: $secondary-darker-blue;
                text-align: center;
                margin-top: 40px;
                margin-right: 28px;
                margin-bottom: 33px;
            }
            .wrapper {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .knobs {
                    display: flex;
                    flex-direction: column;
                    margin-top: 5px;
                    margin-left: 50px;
                }
                .video-collection {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-right: 115px;
                    width: 100%;
                    .swiper-container {
                        width: 100%;
                        .swiper-wrapper {
                            width: 100%;
                            .swiper-slide {
                                width: 100% !important;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: center;
                            }
                        }
                        .swiper-button-prev,
                        .swiper-button-next {
                        display: none;
                        }
                    }
                }
            }
            @include respond-to(md-down) {
                h1 { margin-bottom: 8px }
                .wrapper {
                    flex-direction: column;
                    .knobs {
                        justify-content: space-evenly;
                        flex-direction: row;
                        margin: 0;
                    }
                    .video-collection { margin-right: 0; }
                }
            }
        }
    }
    // For the "Back-to-top" button section.
    .back-to-top {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 112px;
        margin-bottom: 20px;
    }
}