.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;

  font: 800 20px $font-lato;
  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 100px;
  background: white;
  border: none;

  transition: all 0.1s ease-in-out;

  // &:hover {
  //   transform: translateY(-5px);
  //   // box-shadow: 0 5px rgb(106, 199, 192);
  // }

  &--blue {
    background: $primary-blue;
    color: $secondary-darker-blue;
    // &:hover {
    //   transform: translateY(-5px);
    //   box-shadow: 0 9px #356A5F;
    // }
  }
  
  &--red {
    background: $primary-pink;
    color: $secondary-darker-blue;
  }
  
  &--red-small { letter-spacing: 0; font-size: 18px; font-weight: 700; height: 40px; width: 101px; background: $primary-pink; color: white; border-radius: 7px; box-shadow: 0px 4px 0px #a50000; }
  &--light-blue-small { letter-spacing: 0; font-size: 18px; font-weight: 700; height: 40px; width: 101px; background: $light-blue; color: white; border-radius: 7px; box-shadow: 0px 4px 0px #015595; }
  &--yellow-small { letter-spacing: 0; font-size: 18px; font-weight: 700; height: 40px; width: 101px; background: $primary-yellow; color: $secondary-darker-blue; border-radius: 7px; box-shadow: 0px 4px 0px #b28b09; }
  &--blue-small { letter-spacing: 0; font-size: 18px; font-weight: 700; height: 40px; width: 101px; background: $primary-blue; color: white; border-radius: 7px; box-shadow: 0px 4px 0px #356a5F; }

  &--yellow {
    background: $primary-yellow;
    color: $secondary-darker-blue;
  }

  &--light-blue {
    background: $light-blue;
    color: $secondary-darker-blue;
  }
  // Generally used for page banners (e.g. "Learn More!" Buttons).
  &--banner-yellow {
    height: 83px;
    width: 466px;
    text-transform: uppercase;
    color: $secondary-darker-blue;
    
    background: $primary-yellow;
    border-radius: 21px;
    box-shadow: 0px 4px 0px #b28b09;
  }
  &--white-shadow {
    height: 83px;
    width: 466px;
    text-transform: uppercase;
    color: $secondary-darker-blue;
    
    background: white;
    border-radius: 15px;
    letter-spacing: 0;
    box-shadow: 0px 4px 0px #c4c4c4;
  }
  &--dark-blue {
    height: 83px;

    text-transform: uppercase;
    color: $white;

    background: $secondary-darker-blue;
    border-radius: 21px;
    box-shadow: 0px 4px 0px #001a33;
  }
  &--banner-disabled { height: 83px; width: 466px; border-radius: 21px; text-transform: uppercase; background: #d8d8d8; color: #003B7656; }
  
  // Icon Button Styles
  img {
    max-width: 66px;
    max-height: 66px;
    margin-right: 18px;
  }
  &--icon {
    &-pink-shadow {
      text-transform: uppercase;
      color: white;
      background: $primary-pink;
      border-radius: 15px;
      letter-spacing: 0;
      box-shadow: 0px 15px 0px #a50000;
    }
    &-light-blue-shadow {
      text-transform: uppercase;
      color: white;
      background: $light-blue;
      border-radius: 15px;
      letter-spacing: 0;
      box-shadow: 0px 15px 0px #015595;
    }
    &-yellow-shadow {
      text-transform: uppercase;
      color: $secondary-darker-blue;
      background: $primary-yellow;
      border-radius: 15px;
      letter-spacing: 0;
      box-shadow: 0px 15px 0px #B28B09;
    }
    &-blue-shadow {
      text-transform: uppercase;
      color: white;
      background: $primary-blue;
      border-radius: 15px;
      letter-spacing: 0;
      box-shadow: 0px 15px 0px #356A5F;
    }
    &-white-shadow {
      text-transform: uppercase;
      color: $secondary-darker-blue;
      background: white;
      border-radius: 15px;
      letter-spacing: 0;
      box-shadow: 0px 15px 0px #c4c4c4;
    }
  }

  // Back To Top Button
  &--back-to-top {
    background: none;
      width: 133px;
      height: 132px;
    img {
      max-width: 133px;
      max-height: 132px;
      width: inherit;
      height: inherit;
    }
  }
}