.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;

  font: 800 20px $font-lato;
  letter-spacing: 2px;
  text-transform: uppercase;

  border-radius: 100px;
  background: white;
  border: none;

  transition: all 0.1s ease-in-out;

  // &:hover {
  //   transform: translateY(-5px);
  //   // box-shadow: 0 5px rgb(106, 199, 192);
  // }

  &--blue {
    background: $primary-blue;
    color: $secondary-darker-blue;
    // &:hover {
    //   transform: translateY(-5px);
    //   box-shadow: 0 9px #356A5F;
    // }
  }

  &--red {
    background: $primary-pink;
    color: $secondary-darker-blue;
  }

  &--yellow {
    background: $primary-yellow;
    color: $secondary-darker-blue;
  }

  &--light-blue {
    background: $light-blue;
    color: $secondary-darker-blue;
  }
  // Generally used for page banners (e.g. "Learn More!" Buttons).
  &--banner-yellow {
    height: 83px;
    width: 466px;
    text-transform: uppercase;
    color: $secondary-darker-blue;
    
    background: $primary-yellow;
    border-radius: 21px;
    box-shadow: 0px 4px 0px #b28b09;
  }
  &--dark-blue {
    height: 83px;

    text-transform: uppercase;
    color: $white;

    background: $secondary-darker-blue;
    border-radius: 21px;
    box-shadow: 0px 4px 0px #001a33;
  }
  &--banner-disabled { height: 83px; width: 466px; border-radius: 21px; text-transform: uppercase; background: #d8d8d8; color: #003B7656; }
}
