.video-slider-wrapper {
    .title h3 { color: $secondary-darker-blue; }
    a {
      transition-duration: 0.2s;
      &:hover { transform: scale(1.1) }
      &:active { transform: scale(0.9) }
    }
    margin: 80px 0;
    
    .swiper-container {
        .swiper-button-prev,
      .swiper-button-next {
        width: 63px;
        height: 63px;
        transition-duration: 0.3s;
        top: 65px;
        &:after {
          content: "";
    
          display: block;
          height: 100%;
          width: 100%;
          
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
        @include respond-to(md-down) {
          width: 48px;
          height: 48px;
        }
      }
        .swiper-button-next {
            right: 0;
            &:after {
              background-image: url("../../assets/images/arrow-right.svg");
            }
          }
        
          .swiper-button-prev {
            left: 0;
            &:after {
              background-image: url("../../assets/images/arrow-left.svg");
            }
        }
        .swiper-button-disabled {
             opacity: 0;
             transform: scale(0);
        }
    }
}