.video-entry-wrapper {
    overflow: hidden;
    margin: 12px 11px;
    background-color: $secondary-darker-blue;
    width: 247px;
    color: white;
    border-radius: 10px;
    transition-duration: 0.3s;
    .thumbnail {
        object-fit: cover;
        width: 100%;
        max-height: 133px;
    }
    .title {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include respond-to(md-down) {
        width: 100%;
        .thumbnail {
            max-height: inherit;
            max-width: inherit;
        }
    }
}