.video-entry-wrapper {
    overflow: hidden;
    margin: 12px 11px;
    background-color: $secondary-darker-blue;
    width: 247px;
    height: 170px;
    color: white;
    border-radius: 10px;
    transition-duration: 0.3s;
    .thumbnail {
        img {
            object-fit: cover;
            width: 100%;
            height: 206px;
        }
    }
    .title {
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    @include respond-to(md-down) {
        width: 100%;
        height: 100%;
        .thumbnail {
            img { height: 224px; }
        }
    }
}