 //main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$text-font-stack: 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-lato: 'Lato', 'sans-serif'!default;
$font-roboto: 'Roboto';

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Lato', 'sans-serif';

/// Copy text color
/// @type Color
$text-color: black !default;

/// Main brand color
/// @type Color
$brand-color: #E50050 !default;
$primary-blue:#6ac7c0;
$primary-pink:#fd6683;
$primary-yellow:#FFD64E;

$secondary-blue:#61c9e4;
$secondary-darker-blue:#003B76;
$secondary-lighter-blue:#37a8fe;
$secondary-yellow:#FCEA8B;
$secondary-brown:#F5EFE4;
$secondary-pink: #F14F6E;

$light-blue: #00A4D5;
$disabled: #676161;

// Shadow Colors
$shadow-white: #c4c4c4;
$shadow-primary-pink: #a50000;
$shadow-primary-blue: #356A60;
$shadow-primary-yellow: #b28b09;
$shadow-light-blue: #015595;



/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '../assets/' !default;

// Other Variables

$white: #ffffff;
$black: #000000;