*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
  color: black;
}

a {
  text-decoration: none;
}

.btn,
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  @include on-event {
    outline: 0;
    box-shadow: none;
  }
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;
  outline: none;

  @include on-event {
    box-shadow: none;
  }
}

input,
select,
button,
textarea {
  outline: none;
  @include appearance(none);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @include appearance(none);
  }
}
// GLOBALS-------------------------------
.form-title {
  margin-bottom: 50px;
  text-align: center;
}
.flex {
  display: flex;
}
.text-disabled {
  color: #676161;
}
.mb-s {
  margin-bottom: 5px;
}

.mb-s {
  margin-bottom: 15px;
}
.text-disabled {  color: #676161; }
// GLOBALS-------------------------------
body {
  overflow-x: hidden;
  background-color: $secondary-brown;
}

.sub-info {
  margin: 10px 20px;
  color: #676161;
}

.wave {
    display: block;
    position: relative;
    top: -2px;
    height: 360px;
    background-size: cover;
    background-repeat: no-repeat;
    &-white { background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1920 211" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 0 C 92.4 0 138.6 107 231 107 L 231 107 L 231 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 230 107 C 325.2 107 372.8 9 468 9 L 468 9 L 468 0 L 230 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 467 9 C 559 9 605 105 697 105 L 697 105 L 697 0 L 467 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 696 105 C 785.6 105 830.4 12 920 12 L 920 12 L 920 0 L 696 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 919 12 C 1024.2 12 1076.8 107 1182 107 L 1182 107 L 1182 0 L 919 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1181 107 C 1279 107 1328 22 1426 22 L 1426 22 L 1426 0 L 1181 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1425 22 C 1531.4 22 1584.6 107 1691 107 L 1691 107 L 1691 0 L 1425 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1690 107 C 1782 107 1828 23 1920 23 L 1920 23 L 1920 0 L 1690 0 Z" stroke-width="0"></path></svg>'); }
    &-primary-pink { background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1920 211" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(253, 102, 131, 1)" d="M 0 0 C 92.4 0 138.6 107 231 107 L 231 107 L 231 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(253, 102, 131, 1)" d="M 230 107 C 325.2 107 372.8 9 468 9 L 468 9 L 468 0 L 230 0 Z" stroke-width="0"></path> <path fill="rgba(253, 102, 131, 1)" d="M 467 9 C 559 9 605 105 697 105 L 697 105 L 697 0 L 467 0 Z" stroke-width="0"></path><path fill="rgba(253, 102, 131, 1)" d="M 696 105 C 785.6 105 830.4 12 920 12 L 920 12 L 920 0 L 696 0 Z" stroke-width="0"></path><path fill="rgba(253, 102, 131, 1)" d="M 919 12 C 1024.2 12 1076.8 107 1182 107 L 1182 107 L 1182 0 L 919 0 Z" stroke-width="0"></path><path fill="rgba(253, 102, 131, 1)" d="M 1181 107 C 1279 107 1328 22 1426 22 L 1426 22 L 1426 0 L 1181 0 Z" stroke-width="0"></path><path fill="rgba(253, 102, 131, 1)" d="M 1425 22 C 1531.4 22 1584.6 107 1691 107 L 1691 107 L 1691 0 L 1425 0 Z" stroke-width="0"></path><path fill="rgba(253, 102, 131, 1)" d="M 1690 107 C 1782 107 1828 23 1920 23 L 1920 23 L 1920 0 L 1690 0 Z" stroke-width="0"></path></svg>'); }
    &-primary-yellow { background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1920 211" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 214, 78, 1)" d="M 0 0 C 92.4 0 138.6 107 231 107 L 231 107 L 231 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 214, 78, 1)" d="M 230 107 C 325.2 107 372.8 9 468 9 L 468 9 L 468 0 L 230 0 Z" stroke-width="0"></path> <path fill="rgba(255, 214, 78, 1)" d="M 467 9 C 559 9 605 105 697 105 L 697 105 L 697 0 L 467 0 Z" stroke-width="0"></path><path fill="rgba(255, 214, 78, 1)" d="M 696 105 C 785.6 105 830.4 12 920 12 L 920 12 L 920 0 L 696 0 Z" stroke-width="0"></path><path fill="rgba(255, 214, 78, 1)" d="M 919 12 C 1024.2 12 1076.8 107 1182 107 L 1182 107 L 1182 0 L 919 0 Z" stroke-width="0"></path><path fill="rgba(255, 214, 78, 1)" d="M 1181 107 C 1279 107 1328 22 1426 22 L 1426 22 L 1426 0 L 1181 0 Z" stroke-width="0"></path><path fill="rgba(255, 214, 78, 1)" d="M 1425 22 C 1531.4 22 1584.6 107 1691 107 L 1691 107 L 1691 0 L 1425 0 Z" stroke-width="0"></path><path fill="rgba(255, 214, 78, 1)" d="M 1690 107 C 1782 107 1828 23 1920 23 L 1920 23 L 1920 0 L 1690 0 Z" stroke-width="0"></path></svg>'); }
    &-secondary-darker-blue { background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1920 211" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(255, 255, 255, 1)" d="M 0 0 C 92.4 0 138.6 107 231 107 L 231 107 L 231 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 230 107 C 325.2 107 372.8 9 468 9 L 468 9 L 468 0 L 230 0 Z" stroke-width="0"></path> <path fill="rgba(255, 255, 255, 1)" d="M 467 9 C 559 9 605 105 697 105 L 697 105 L 697 0 L 467 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 696 105 C 785.6 105 830.4 12 920 12 L 920 12 L 920 0 L 696 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 919 12 C 1024.2 12 1076.8 107 1182 107 L 1182 107 L 1182 0 L 919 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1181 107 C 1279 107 1328 22 1426 22 L 1426 22 L 1426 0 L 1181 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1425 22 C 1531.4 22 1584.6 107 1691 107 L 1691 107 L 1691 0 L 1425 0 Z" stroke-width="0"></path><path fill="rgba(255, 255, 255, 1)" d="M 1690 107 C 1782 107 1828 23 1920 23 L 1920 23 L 1920 0 L 1690 0 Z" stroke-width="0"></path></svg>'); }
}
// Contains SVG wave for responsiveness.
@media (max-width:1919px) {
  .wave { background-size: contain; }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;

  @include respond-to(xl) {
    width: 1370px;
  }

  @include respond-to(lg) {
    width: 960px;
  }

  @include respond-to(md) {
    width: 720px;
  }

  @include respond-to(sm) {
    width: 540px;
  }

  @include respond-to(xs) {
    width: 100%;
  }
}

// Knob Global
.knob {
  position: relative;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background-color: $primary-pink;
  margin: 16.5px 0;
  .body {
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: 5;
    display: flex;
    transition-duration: 1.5s;
    // Code below is for testing purposes only.  The rotation of the knob is handled in the component's styling.
    // transform: rotate(90deg);
    .handle {
      align-self: center;
      width: 30px;
      border: none;
      border-bottom: 4px solid white;
      position: relative;
    }
  }
  &-shadow {
    position: absolute;
    z-index: -5;
    width: inherit;
    height: inherit;
    background-color: #c30025;
    bottom: -8px;
    border-radius: inherit;
  }
}

.toggle-menu {
  position: relative;
  top: 0;
  left: 5px;

  float: right;
  width: 36px;
  height: 28px;

  line-height: 1;

  background-color: transparent;
  border: 0;
  border-radius: 0;

  @include respond-to(lg-up) {
    display: none;
  }

  @include respond-to(md-down) {
    &.is-close {
      display: none;
    }

    &.is-open {
      display: block;
    }
  }

  .icon-bar {
    display: block;
    width: 25px;
    height: 3px;

    background: #ffffff;
    box-shadow: none;

    transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);

    -ms-box-shadow: none;
    -o-box-shadow: none;
  }

  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
}
