*, 
*:before, 
*:after {
  margin: 0;
  box-sizing: border-box;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn,
a {
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;

  @include on-event {
    outline: 0;
    box-shadow: none;
  }
}

/**
 * Basic styles for input fields
 */
input[type="email"],
input[type="password"],
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-focus-ring-color: none;
  outline: none;

  @include on-event {
    box-shadow: none;
  }
}

input,
select,
button,
textarea {
  outline: none;
  @include appearance(none);

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @include appearance(none);
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;

  @include respond-to(xl) {
    width: 1370px;
  }

  @include respond-to(lg) {
    width: 960px;
  }

  @include respond-to(md) {
    width: 720px;
  }

  @include respond-to(sm) {
    width: 540px;
  }

  @include respond-to(xs) {
    width: 100%;
  }
}

